page {
  width: 100%;
  height: 100%;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
input {
  position: absolute;
  right: 0rpx;
}
image {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.wrapper {
  overflow: hidden;
  height: 100%;
}
.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0rpx 30rpx;
  font-size: 30rpx;
}
.container .unfix {
  position: relative;
  line-height: 80rpx;
}
.container .unfix view {
  display: inline-block;
}
.container .unfix view:nth-child(1) {
  color: #575759;
}
.container .unfix view:nth-child(2) {
  float: right;
}
.container .unfix input {
  display: inline-block;
  text-align: right;
  float: right;
  height: 80rpx;
  line-height: 80rpx;
  padding-right: 30rpx;
}
.container .unfix .remark {
  display: inline-block;
  width: 100%;
}
.container .date-style .picker {
  position: absolute;
  right: 38rpx;
  top: 0;
  color: #181818;
}
.container .camera-container text {
  display: block;
  width: 100%;
  line-height: 70rpx;
  font-size: 30rpx;
  color: #575759;
}
.container .camera-container .photo-wrapper {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container .camera-container .photo-wrapper .add-icon {
  position: relative;
  display: inline-block;
  border: 2rpx solid #d0d0d4;
  width: 160rpx;
  height: 160rpx;
}
.container .camera-container .photo-wrapper .add-icon .row,
.container .camera-container .photo-wrapper .add-icon .col {
  position: absolute;
  width: 60rpx;
  height: 4rpx;
  background: #d0d0d4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .camera-container .photo-wrapper .add-icon .col {
  height: 60rpx;
  width: 4rpx;
}
.container .sure-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 560rpx ;
  line-height: 80rpx;
  background: #348cff ;
  border-radius: 200rpx;
  color: #fff;
  text-align: center;
  margin-bottom: 40rpx;
  margin-top: 50rpx;
}
/* far close*/
.far {
  position: relative;
  display: inline-block;
  width: 160rpx;
  height: 160rpx;
  margin-right: 30rpx ;
}
.close {
  position: relative;
  display: inline-block;
  width: 160rpx;
  height: 160rpx;
  margin-right: 30rpx ;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 500;
}
.photo-list {
  position: fixed;
  top: 160rpx;
  bottom: 286rpx;
  background: gray;
  white-space: nowrap;
  z-index: 10000;
}
.large-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-right: 10rpx;
}
.deleteIcon {
  position: fixed;
  z-index: 800;
  width: 100%;
  bottom: 0;
  left: 0;
}
.deleteIcon image {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 32rpx;
  height: 40rpx;
  bottom: 30rpx;
}
.magnifier {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24rpx;
  height: 24rpx;
}
