
.flex {
  display: flex;
}
.flex-item {
  flex: 1;
  display: flex;
  align-items: center;
}
.header-bar {
  font-size: 32rpx;
  padding: 20rpx 25rpx 0;
  color: rgb(24,24,24);
}
.header-bar .flex-item {
  justify-content: left;
}

.username {
  color: rgb(53,141,255);
  padding-right: 10rpx;
}

.timeouts, .category {
  padding: 0 25rpx;
  font-size: 30rpx;
  margin-top: 25rpx
}

.timeouts .flex-item text {
  padding-bottom: 10rpx;
  border-bottom: 4rpx solid #fff;
}
.timeouts .flex-item.tab-active text {
  border-bottom: 4rpx solid rgb(52,140,255);
}

.category .tab-active {
  background-color: rgb(52,140,255);
  color: #fff;
}

.category {
  border-bottom: 2rpx solid rgb(230,230,230);
  padding-bottom: 40rpx;
}

.date-picker {
  width: 220rpx;
  text-align: right;
}
.performance {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}


.category view {
  font-size: 30rpx;
  color: rgb(142,142,147);
  height: 64rpx;
  text-align: center;
  justify-content: center;
}

.container-charts {
  padding: 40rpx 25rpx 25rpx;
}
.charts-title {
  color: rgb(53,141,255);
  font-size: 30rpx;
  padding-bottom: 20rpx;
}
.charts-item {
  height: 400rpx;
}

canvas {
  width: 700rpx;
  height: 300rpx;
}


.filter {
  width: 200rpx;
  text-align: right;
}
