.flex {
  display: flex;
}
.flex-item {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.photo-view {
  margin-top: 40rpx;
  width: 380rpx;  
  background-repeat: no-repeat;
  background-size: cover;
}
.student-name {
  text-align: center;
  font-size: 30rpx;
  color: rgb(24,24,24);
}
.class-name {
  text-align: center;
  font-size: 28rpx;
  color: rgb(142,142,147);
}
.description {
  color: rgb(87,87,89);
  font-size: 28rpx;
  padding: 0 30rpx;
  margin-top: 30rpx;
  
}

.title {
  font-size: 30rpx;
  color: rgb(24,24,24);
  padding: 0 30rpx;
  margin-top: 60rpx;

}
.demo {
  color: rgb(53,141,255);
  font-size: 30rpx;
  text-align: center;
  margin-top: 30rpx;
}