.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
/*搜索栏样式*/
.search-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120rpx;
  background: #FFF;
  z-index: 100;
}
.search-wrapper .search-content {
  display: flex;
  width: 690rpx;
  height: 80rpx;
  margin: 20rpx 30rpx;
  border-radius: 40rpx;
  box-shadow: 0 1px 10px rgba(142, 142, 147, 0.15);
  justify-content: center;
  align-items: center;
}
.search-wrapper .search-icon {
  width: 30rpx;
  height: 30rpx;
  margin-top: 5rpx;
  margin-right: 10rpx;
}
.search-wrapper .search-title {
  height: 80rpx;
  line-height: 80rpx;
  font-size: 15px;
  color: #8E8E93;
}
.bg-color {
  background: #f7f7f7;
}
.blue-style {
  color: #348cff;
}
.text-c {
  text-align: center;
}
.pl30 {
  padding-left: 30rpx;
}
.pr30 {
  padding-right: 30rpx;
}
.tab {
  display: flex;
  align-items: center;
  height: 90rpx;
  background: #fff;
  margin-top: 120rpx;
}
.tab .specTab {
  position: relative;
  box-sizing: border-box;
  width: 33.3%;
  font-size: 30rpx;
  line-height: 90rpx;
}
.tab .specTab .down-flag {
  position: absolute;
  top: 46%;
  right: 30rpx;
  display: inline-block;
  vertical-align: middle;
  border-top: 8rpx solid #888;
  border-bottom: 8rpx solid transparent;
  border-left: 10rpx solid transparent;
  border-right: 10rpx solid transparent;
}
.tab .select-option {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.select-box {
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
}
.select-box .select-item {
  font-size: 24rpx;
  line-height: 80rpx;
  border-bottom: 2rpx solid #eee;
}
.select-box icon {
  float: right;
  margin-top: 10rpx;
}
.attend-info {
  position: absolute;
  top: 230rpx;
  background: #fff;
  left: 30rpx;
  right: 30rpx;
}
.attend-info .title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80rpx;
  font-size: 28rpx;
  color: #8e8e93;
}
.attend-info .title view {
  width: 20%;
  text-align: center;
}
.attend-info .title view:nth-child(1) {
  width: 25%;
}
.null-text {
  color: #d0d0d4;
  font-size: 28rpx;
  text-align: center;
  width: 100%;
  line-height: 40rpx;
  margin: auto;
}
