
.container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.title{
  font-size: 32rpx;
  color: #181818;
  text-align: center;
  line-height:92rpx;
}
.bg-color{
  background: rgb(247,247,247);
}
.item-list{
  display: flex;
  height:100rpx ;
  align-items:center;
  view{
    width: 25%;
    text-align: center;
    color:#575759 ;
    font-size: 28rpx;
  }
}
.card-time{
  color: #181818;
}