page {
  width: 100%;
  height: 100%;
}
input {
  position: absolute;
  right: 0rpx;
}
.right-icon {
  position: absolute;
  width: 0;
  height: 0;
  right: 10rpx;
  top: 60%;
  transform: translateY(-50%) rotate(45deg);
  border-top: 20rpx solid #d0d0d4;
  border-bottom: 20rpx solid transparent;
  border-left: 20rpx solid transparent;
  z-index: 1;
}
.right-hide {
  position: absolute;
  width: 0;
  height: 0;
  right: 13rpx;
  top: 60%;
  transform: translateY(-50%) rotate(45deg);
  border-top: 20rpx solid #fff;
  border-bottom: 20rpx solid transparent;
  border-left: 20rpx solid transparent;
  z-index: 1;
}
.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0rpx 30rpx;
  font-size: 30rpx;
}
.container .default {
  position: relative;
  line-height: 80rpx;
}
.container .default view {
  display: inline-block;
  color: #575759;
}
.container .default input {
  display: inline-block;
  text-align: right;
  float: right;
  height: 80rpx;
  line-height: 80rpx;
}
.container .checkBox-style .wrapper {
  float: right;
}
.container .checkBox-style .use-status {
  margin-right: 30rpx;
}
.container .checkBox-style .use-status:nth-child(2) {
  margin-right: 0rpx;
}
.container .checkBox-style image {
  width: 40rpx;
  height: 40rpx;
  vertical-align: middle;
  margin-top: -8rpx;
  margin-right: 20rpx;
}
.container .unfix {
  line-height: 80rpx;
}
.container .unfix view {
  display: inline-block;
}
.container .unfix view:nth-child(1) {
  color: #575759;
}
.container .unfix view:nth-child(2) {
  float: right;
}
.container .date-style .picker {
  position: absolute;
  right: 38rpx;
  top: 0;
  color: #181818;
}
.container .camera-container text {
  display: block;
  width: 100%;
  line-height: 70rpx;
  font-size: 30rpx;
}
.container .camera-container .photo-wrapper {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container .camera-container .photo-wrapper .add-icon {
  position: relative;
  border: 2rpx solid #d0d0d4;
  width: 160rpx;
  height: 160rpx;
}
.container .camera-container .photo-wrapper .add-icon .row,
.container .camera-container .photo-wrapper .add-icon .col {
  position: absolute;
  width: 60rpx;
  height: 4rpx;
  background: #d0d0d4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .camera-container .photo-wrapper .add-icon .col {
  height: 60rpx;
  width: 4rpx;
}
.container .sure-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 560rpx ;
  line-height: 80rpx;
  background: #348cff ;
  border-radius: 200rpx;
  color: #fff;
  text-align: center;
  margin-bottom: 40rpx;
  margin-top: 50rpx;
}
